<% title 'Upload Manager' %>

<p>Use the form below to upload output files from other tools. Once you have 
uploaded them you can process with the different <a href="#" id="available">plugins available</a>. </p>
<br/>

<div id="plugins" style="display: none;">
<h2>Available Plugins</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Expects</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <% @plugins.each do |plugin| %>
      <tr>
        <td><%= plugin::Meta::NAME %></td>
        <td><%= defined?(plugin::Meta::EXPECTS) ? plugin::Meta::EXPECTS : "[undefined]" %></td>
        <td><%= plugin::Meta::VERSION::STRING %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="block">
<h2>Upload file</h2>
  <%= form_tag 'upload/create', :multipart => true do %>
    <%= select_tag  'uploader', options_from_collection_for_select( @plugins, 'name', 'name' ) %>
    <%= file_field_tag 'file' %>
    <%= hidden_field_tag 'item_id' %>
    <%= hidden_field_tag 'format', 'js' %>
  <% end %>
</div>


<div class="block">
  <div id="result" class="file" style="display: none;">
    <div><strong>Filename</strong>: <span id="filename"></span> <span id="spinner"><%= image_tag 'loading.gif', :style => "margin:0;" %></span></div>
    <div><strong>Size</strong>: <span id="filesize"></span></div>
    <div id="console"></div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var jobId = <%= @last_bj_uid %>;
</script>
