              <% form_for :meta_server do |f| -%>
              <fieldset>
                <legend>Meta-Server options</legend>
                <div>
                  <label>Host:</label>
                  <%= f.text_field :host, :class => 'text' %>
                </div>
                <div>
                  <label>Port:</label>
                  <%= f.text_field :port, :class => 'text' %>
                </div>
                <div>
                  <label>Username:</label>
                  <%= f.text_field :user, :class => 'text' %>
                </div>
                <div>
                  <label>Password:</label>
                  <%= f.password_field :password, :class => 'password' %>
                </div>
                <% if flash[:meta_server] %><div id="error"><%= flash[:meta_server] %></div><% end %>
                <div class="right"><%= submit_to_remote 'remote', 'Get Projects', 
                                                :html => {:class => 'submit'}, 
                                                :url=>{:action=>:get_projects} %></div>
              </fieldset>
              <% end %>
              <% if @projects %> 
                  <% for project in @projects %> 
                  <%= project.attributes['title'] %>
                  <% end %>
              <% end %>
