<div class="page-header">
  <h1>Welcome, please sign in</h1>
</div>

<%= form_tag session_path, class: 'form-horizontal' do -%>
  <p class="lead">You will only be able to log in if you know this server's password.</p>
  <% if flash[:alert] %>
  <div class="alert alert-error">
    <%= flash[:alert] %>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="alert alert-info">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <div class="control-group">
    <label class="control-label" for="username">User name</label>
    <div class="controls">
      <%= text_field_tag 'username', nil, placeholder: 'Choose any user name you want', class: 'input-xlarge' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <%= password_field_tag 'password', nil, class: 'input-xlarge' %></p>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= submit_tag 'Let me in!', class: 'btn' %>
    </div>
  </div>
<% end -%>
