<% title 'Upload Manager' %>
<% content_for :head do -%>
<%= javascript_include_tag 'upload' %>
<% end -%>

<p>Use the form below to upload output files from other tools. Once you have 
uploaded them you can process with the different <a href="#" id="available">plugins available</a>. </p>
<br/>

<div id="plugins" style="display: none;">
<h2>Available Plugins</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Expects</th>
        <th>Version</th>
      </tr>
    </thead>
    <tbody>
      <% @plugins.each do |plugin| %>
      <tr>
        <td><%= plugin::Meta::NAME %></td>
        <td><%= defined?(plugin::Meta::EXPECTS) ? plugin::Meta::EXPECTS : "[undefined]" %></td>
        <td><%= plugin::Meta::VERSION::STRING %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="block">
<h2>Upload file</h2>
  <%= form_tag 'upload/create', :multipart => true do %>
    <%= select_tag  'uploader', options_from_collection_for_select( @plugins, 'name', 'name' ) %>
    <%= file_field_tag 'file' %>
    <%= hidden_field_tag 'item_id' %>
    <%= hidden_field_tag 'format', 'js' %>
  <% end %>
</div>


<div id="files" class="block">
</div>
