<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <title>Dradis Framework</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag "application" %>

  <!--[if lt IE 8]>
  <%= stylesheet_link_tag "font-awesome-ie7.min.css", :media => "all" %>
  <![endif]-->

  <!-- RSS feed -->
  <!-- <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds" /> -->

  <%= favicon_link_tag image_path('favicon.ico') %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %>">
  <div class="navbar">
  </div>

  <div class="body-wrapper">
    <div class="main-wrapper">

      <div class="main-sidebar">
        <div class="inner">
          <%= yield :sidebar %>
      </div>

      <div class="main-content">
        <noscript>
          <div class="alert alert-error" style="margin-top: 2em">
            <h4>Error</h4>
            <p>Please enable JavaScript support.</p>
          </div>
        </noscript>

        <div id="view-content">
          <%= flash_messages %>
          <%= yield %>
        </div>
      </div>
    </div>

    <div class="version">
      <small><%= Dradis::Core::VERSION::string %></small>
    </div>
  </div>

  <%# dradis/all is generated in the target app and will eventually load dradis/dradis_core -%>
  <%= javascript_include_tag "dradis/all" %>
  <%= yield :javascript %>
</body>
</html>
