<table id="browser">
  <thead>
  <tr>
    <th>Project Title</th>
    <th class="ops">Choose Revision</th>
  </tr>
  </thead>
  <tbody>
  <% for project in @projects %>
    <% tr_id = "project_#{project.id}" %>
    <tr id="<%= tr_id %>" class="open">
      <td class="title">
        <span class="expander" onclick="projectClick('<%= tr_id %>')">&nbsp;</span>

        <%= link_to h(project.attributes['title']), "javascript:return;", :class => "icon icon-folder" %>
      </td>
      <td>&nbsp;</td>
    </tr>
    <% for revision in project.attributes['revisions'] %>
    <tr class="<%= tr_id %>">
      <td class="title" style="padding-left: 36px;">
        <%= link_to h("Revision ##{revision.attributes['number']}"), "javascript:return;", :class => "icon icon-package" %>
      </td>
      <td><%= radio_button_tag 'revision', "#{project.id}_#{revision.id}", nil, :onclick => 'revisionClick(this.value);' %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<p class="links">
  <%= link_to 'Refresh', :url => {:action => :get_projects}, :class => 'submit', :remote => true %>
  <%= link_to 'Change Meta-Server', :url => {:action => :change_metaserver}, :class => 'submit', :remote => true %>
</p>
