<% title 'Configuration Manager' %>

<p>Use the table below to manage the configuration of your Dradis plugins.</p>

<%= form_tag configurations_path do %>
  <table>
    <thead>
      <tr>
        <th class="setting" scope="col">Setting Name</th>
        <th class="status" scope="col">Status</th>
        <th class="value" scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <% all_configurations.each do |configuration| %>
        <%= fields_for "config[#{configuration.id}]", configuration do |f| %>
          <tr>
            <td class="setting"><%= configuration.name %></td>
            <td class="status"><%= configuration.new_record? ? 'default' : 'user set' %></td>
            <td class="value">
              <%= f.hidden_field :name if configuration.new_record? %>
              <%= f.text_field :value %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless deprecated_configurations.empty? %>
  <div id="deprecated_configurations" class="notice">
    <p>Some of your configurable plugins are not listed here. They have not been updated to be compatible with the configuration manager.</p>
    <p>You can check the plugin's website for an updated version, or read about <a href="#">how to use Configuration Manager</a> in your own plugins.</p>
    <p>The plugins that we have detected as affected are:</p>
    <ul style="margin-bottom: 0">
      <% deprecated_configurations.each do |plugin| %>
        <li><%= plugin.to_s %></li>
      <% end %>
    </ul>
  </div>
<% end %>
