<html>
  <head>
    <title>Welcome to Dradis</title>
    <%= javascript_include_tag 'dradis3' %>
    <%= stylesheet_link_tag 'banner' %>
    <%= favicon_link_tag %>
  </head>
  <body class="<%= controller_name %>">
    <div class="main main_margin">

      <div class="content">
        <div class="text">
            <div style="height: 100px; overflow: hidden;">
            <%= image_tag 'banner.png', :style=>'margin-top: -20px;' %>
            </div>
<%= yield %>
            <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
            <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
            <noscript><div id="nojs">Please enable JavaScript support.</div></noscript>
        </div>
      </div>
      <div class="content_bottom">
        Effective information sharing - <a href="http://dradisframework.org/">http://dradisframework.org</a>
  		</div>
    </div>
  </body>
</html>
