<!DOCTYPE html>
<html>
  <head>
    <title>Configuration Manager - <%= Core::VERSION::string %></title>
    <%= favicon_link_tag %>

    <%= javascript_include_tag 'dradis3' %>
    <%= stylesheet_link_tag 'dradis3' %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="content">
      <noscript><div class="error">Please enable JavaScript support.</div></noscript>
      <%= yield %>
    </div>
  </body>
</html>

