<html>
  <head>
    <title><%= Core::VERSION::string %></title>
    <!-- Ext CSS and Libs -->
    <%= javascript_include_tag 'adapter/ext/ext-base.js' %>
    <%= javascript_include_tag 'ext-all.js' %>
    <%= stylesheet_link_tag 'ext-all.css' %>
    <%= stylesheet_link_tag 'attachments.css' %>
    <%= stylesheet_link_tag 'filetype.css' %>
    <%= stylesheet_link_tag 'icons.css' %>

    <!-- 3rd party extensions -->
    <%= javascript_include_tag 'ux/Ext.ux.StatusBar.js',
                                'ux/Ext.ux.grid.RowExpander.js',
                                'data-view-plugins', 
                                'ux/Ext.ux.form.BrowseButton.js', 
                                'ux/Ext.ux.form.FileUploadField.js',
                                'ux/Ext.ux.FileUploader.js', 
                                'ux/Ext.ux.UploadPanel.js' %>
    <%= stylesheet_link_tag 'filetype.css', 'file-upload' %>

    <!-- Custom CSS and Libs -->
    <%= javascript_include_tag 'dx/dradis.plugins.PluginManager.js',
                                'dx/dradis.plugins.UploadFormPanel.js' %>
    <%= javascript_include_tag 'thebrain', 'nodestree', 'notesbrowser', 'importer', 'attachmentsviewer', 'interface' %>
    <%= stylesheet_link_tag 'dradis.css' %>

  </head>
  <body>
    <noscript>
      <p>This application makes extensive use of JavaScript. Please enable 
      JavaScript support in your browser. (<%= link_to 'logout', logout_path %>)</p>
    </noscript>  
    <div id="main">
      <div id="tabs">
        <div id="notes" class="x-hide-display">notes</div>
        <div id="import" class="x-hide-display">import from external sources</div>
        <div id="attachments" class="x-hide-display">add attachment to node</div>
        <div id="properties" class="x-hide-display">properties pane is not implemented yet.</div>
        <div id="first_render" class="x-hide-display"><%= render :partial => 'first_render' %></div>
      </div>

      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
    </div>
    <script type="text/javascript">
      dradis.author = "<%= h(current_user) %>";
      dradis.token = "<%= form_authenticity_token %>";
      dradis.revision = <%= Configuration.revision %>;
      dradis.version = "<%= Core::VERSION.string  %>";
      dradis.firstrender = <%= !!flash[:first_login] %>;
    </script>
  </body>
</html>
