<html>
  <head>
    <title><%= Core::VERSION::string %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="icon" />

    <%# See config/initializers/asset_expansion.rb %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <!-- RSS feed -->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feeds" />

    <%= csrf_meta_tag %>
  </head>
  <body>
    <noscript>
      <div id="logo">&nbsp;</div>
      <p>This application makes extensive use of JavaScript. Please enable 
      JavaScript support in your browser. (<%= link_to 'logout', logout_path %>)</p>
    </noscript>  
    <div id="main">
      <div id="tabs">
        <div id="notes" class="x-hide-display">notes</div>
        <div id="import" class="x-hide-display">import from external sources</div>
        <div id="attachments" class="x-hide-display">add attachment to node</div>
        <div id="properties" class="x-hide-display">properties pane is not implemented yet.</div>
        <div id="first_render" class="x-hide-display"><%= render :partial => 'first_render' %></div>
      </div>

      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
    </div>
    <script type="text/javascript">
      dradis.author = "<%= h(current_user) %>";
      dradis.revision = <%= Configuration.revision %>;
      dradis.last_audit = <%= @last_audit %>;
      dradis.version = "<%= Core::VERSION.string  %>";
      dradis.firstrender = <%= !!flash[:first_login] %>;
      Ext.BLANK_IMAGE_URL = "<%= image_path 'default/s.gif' %>";
    </script>
  </body>
</html>
