<html>
  <head>
    <title>dradis v2.0</title>
    <!-- Ext CSS and Libs -->
    <%= javascript_include_tag 'adapter/ext/ext-base.js' %>
    <%= javascript_include_tag 'ext-all-debug.js' %>
    <%= stylesheet_link_tag 'ext-all.css' %>

    <!-- Custom CSS and Libs -->
    <%= javascript_include_tag 'thebrain', 'nodestree', 'RowExpander', 'notesbrowser', 'interface' %>
    <%= stylesheet_link_tag 'dradis.css' %>

  </head>
  <body>
    <noscript>
      <p>This application makes extensive use of JavaScript. Please enable 
      JavaScript support in your browser. (<%= link_to 'logout', logout_path %>)</p>
    </noscript>  
    <div id="main">
      <div id="tabs">
        <div id="notes" class="x-hide-display">notes</div>
        <div id="properties" class="x-hide-display">properties pane is not implemented yet.</div>
      </div>
      <%#= link_to_remote 'label', :url => { :action => "notes", :parent_id => 83, :parent_type=> 'foo', :position => 7 } %>
      <%#= @content_for_layout %>
      <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
      <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
    </div>
    <script language="javascript">
      dradis.author = "<%= current_user %>";
      dradis.token = "<%= form_authenticity_token %>";
      dradis.revision = <%= Configuration.revision %>;
    </script>
  </body>
</html>
