<html>
  <head>
    <title>Welcome to Dradis</title>
    <%= stylesheet_link_tag 'welcome.css' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="main main_margin">

  		<div class="top">Welcome to <%= Core::VERSION.string %></div>
      <div class="content_top"></div>
  	  <div class="content">								
			  	<div class="text">					
            <%= yield %>
            <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
            <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
            <noscript><div id="nojs">Please enable JavaScript support.</div></noscript>
  			  </div>
	  	</div>
      <div class="content_bottom">
        effective information sharing - <a href="http://dradisframework.org/">http://dradisframework.org</a>	
  		</div>
    </div>

  </body>
</html>
