<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>First Time User's Wizard - <%= Core::VERSION::string %></title>
  <%= favicon_link_tag %>
  <style type="text/css">
    body{

      background: #F9F9F7 url(<%= image_path 'wizard/a1.gif' %>) repeat-x;
      font-family:"trebuchet ms", Arial, Helvetica, sans-serif; 
      /*font-size:13px;*/
    }

    #container {
      margin:40px auto; 
      /*width:600px;*/
      width:75%;
      /*background:#FFF;*/
      background: #FFF url(<%= image_path 'wizard/a33.gif' %>) 100% 100% repeat-x;
      border: 1px solid #CCC;
      padding: 40px 20px 5px 20px;
    }

    #back { font-size: 80%; border: 0; margin: -60px 0 0 0; float: right;}

    ul.tab, .tab li{border:0; margin:0; padding:0; list-style:none;}
    ul.tab{border-bottom:solid 1px #DEDEDE; height:29px; padding-left:20px;}
    .tab li{float:left; margin-right:2px;}
    .tab a:link, .tab a:visited {
    	background:url(<%= image_path 'wizard/tab-round.png' %>) right 60px;
    	color:#666666;
    	display:block;
    	font-weight:bold;
    	height:30px;
    	line-height:30px;
    	text-decoration:none;
    }
    .tab a span {
    	background:url(<%= image_path 'wizard/tab-round.png' %>) left 60px;
    	display:block;
    	height:30px;
    	margin-right:14px;
    	padding-left:14px;
    }
    .tab a:hover {
    	background:url(<%= image_path 'wizard/tab-round.png' %>) right 30px;
    	display:block;
    }
    .tab a:hover span {
    	background:url(<%= image_path 'wizard/tab-round.png' %>) left 30px;
    	display:block;
    }

    /* -------------------------------- */
    /* 	ACTIVE ELEMENTS					*/
    .active a:link, .active a:visited, .active a:visited, .active a:hover {
    	background:url(<%= image_path 'wizard/tab-round.png' %>) right 0 no-repeat;
    } 
    .active a span, .active a:hover span{
    	background:url(<%= image_path 'wizard/tab-round.png' %>) left 0 no-repeat;
    }

    #footer { 
      text-align: right; 
      padding-right: 69px;
      min-height: 64px;
      height: auto !important;
      height: 64px;
      background: url(<%= image_path 'logo_tiny.png' %>) 100% 50% no-repeat;
      clear: both;
    }

    .post .floatleft { float: left; }
    .post .center { text-align: center; margin-top:5px;}
    .post li {margin-bottom: 0.5ex; list-style-type: square; }

  </style>
</head>

<body>
  <div id="container">

    <!-- Tabbed bar code-->
    <ul class="tab">
    <%= menu_tabs.html_safe %>
    </ul>
    <div id="back"><%= link_to '&lsaquo; back to the app'.html_safe, root_path %></div>

    <%= yield %>
    <div id="footer">
      <br/>
      effective information sharing<br/>
      <a href="http://dradisframework.org">http://dradisframework.org</a>
    </div>
  </div>
</body>
</html>
